{% extends "base.html" %}
{% block title %}New Page &mdash; Biki{% endblock %}
{% block content %}
<header>
	<nav>
		<a href="/{{folder.key.id()}}/">{{folder.title}}</a>
	</nav>
	<h1>New Page</h1>
</header>
<article>
	<form method="post">
		{% if error %}<p class="error">{{error}}</p>{% endif %}
		<p><label>Title 
			<input type="text" name="title" value="{{title}}" class="large-input">
		</label></p>
		<p><label>Content
			<pre><textarea name="content" class="large-input" rows="12">{{content}}</textarea></pre>
		</label></p>
		<p><button type="submit">Create</button></p>
	</form>
</article>
{% endblock %}