{% extends "base.html" %}
{% block title %}Delete Page &mdash; Biki{% endblock %}
{% block content %}
<header>
	<nav>
		<a href="/{{folder.key.id()}}/">{{folder.title}}</a>
	</nav>
	<h1>{{page.title}}</h1>
</header>
<article>
	<form method="post">
		<p>
			<button type="submit">Delete</button>
			<a href="/{{folder.key.id()}}/{{page.key.id()}}">Cancel</a>
		</p>
	</form>
</article>
{% endblock %}