{% extends "base.html" %}
{% block title %}Edit Page &mdash; Biki{% endblock %}
{% block content %}
<header>
	<nav>
		<a href="/{{folder.key.id()}}/">{{folder.title}}</a>
	</nav>
	<h1>{{page.title}}</h1>
</header>
<article>
	<form method="post">
		{% if error %}<p class="error">{{error}}</p>{% endif %}
		<p><label>Content
			<pre><textarea name="content" class="large-input" rows="24">{{page.content}}</textarea></pre>
		</label></p>
		<p class="error">{{error}}</p>
		<p>
			<button type="submit">Save</button>
			<a href="/{{folder.key.id()}}/{{page.key.id()}}">Cancel</a>
		</p>
	</form>
</article>
{% endblock %}