{% extends "base.html" %}
{% block title %}{{folder.title}} &mdash; Biki{% endblock %}
{% block content %}
<h1>{{folder.title}}</h1>
<h2>Pages</h2>
{% if user %}<a href="create">Create a new page</a>{% endif %}
<ul>
{% for page in pages %}
	<li><a href="{{url_for('page',folder=page.folder.id(),id=page.key.id())}}">{{page.title}}</a>
{% endfor %}
</ul>
{% if less or more %}
<a{% if less %} href="?before={{prev.urlsafe()}}"{% endif %}>Previous</a>
<a{% if more %} href="?after={{next.urlsafe()}}"{% endif %}>Next</a>
{% endif %}
{% endblock %}