{% extends "base.html" %}
{% block title %}Page &mdash; Biki{% endblock %}
{% block content %}
<header>
	<nav>
		<ul class="list-nav">
			<li><a href="/{{folder.key.id()}}/">{{folder.title}}</a>
			{% if user %}
			<li><a href="{{page.key.id()}}/edit">edit</a>
			<li><a href="{{page.key.id()}}/delete">delete</a>
			{% endif %}
		</ul>
	</nav>
	<h1>{{page.title}}</h1>
</header>
{{page.content|markdown|safe}}
<footer>
	<dl>
		<dt>Creator
			<dd>{{page.creator}}
		<dt>Created
			<dd>{{page.created}}
		<dt>Modified
			<dd>{{page.modified}}
	<dl>
</footer>
{% endblock %}