{% extends "base.html" %}
{% block title %}Pages &mdash; Biki{% endblock %}
{% block content %}
<h1>New Folder</h1>
<form method="post">
	{% if error %}
	<p class=error>{{error}}</p>
	{% endif %}
	<p><label>Title
		<input type="text" name="title" value="{{title}}">
	</label></p>
	<p><label>Short Title
		<input type="text" name="short" value="{{short}}">
	</label></p>
	<p><button type="submit">Create</button></p>
</form>
{% endblock %}