{% extends "base.html" %}
{% block title %}Folders &mdash; Biki{% endblock %}
{% block content %}
<h1>{{folder.title}} ({{folder.key.id()}})</h1>
<dl>
	<dt>Creator
		<dd>{{folder.creator}}
	<dt>Created
		<dd>{{folder.created}}
</dl>

{% endblock %}