{% extends "base.html" %}
{% block title %}Folders &mdash; Biki{% endblock %}
{% block content %}
<h1>Folders</h1>
<ul>
{% for folder in folders %}
	<li><a href="/folders/{{folder.key.id()}}">{{folder.title}} ({{folder.key.id()}})</a>
{% endfor %}
</ul>
<a href="create">Create a new folder</a>
{% endblock %}