<style>
body {
    font-family: sans-serif;
}

button {
	position: relative;
    font: inherit;
    
    margin: 0.5em .25em .25em;
    padding: 8px 1em 4px;
    padding: 0.5em 1em calc(0.5em - 4px);
    
    color: #fff;
    background: #39d;
    font-weight: 600;
    
    border: 0;
    border-radius: 2px;

    /*-webkit-transform: translateY(-4px);*/
    top: 0;
	box-shadow: 0 4px 0 #39d, 0 8px 0 #28b, 0 0 0 #ccc;
}

button:link {
	color: #c00;
}

button:hover {
    /*-webkit-transform: translateY(0);*/
    top: 4px;
    box-shadow: 0 4px 0 #39d, 0 0 0 #28b, 0 0 0 #ccc;
}

button:active {
    background: #28b;

    /*-webkit-transform: translateY(4px);*/
    top: 8px;
    box-shadow: 0 0 0 #39d, 0 0 0 #28b, 0 -4px 0 #ccc;
}
</style>
<body>
<form>
	<button type="submit">Submit</button>
	<button type="submit">Submit</button>
	<button type="submit">Submit</button>
	<a href="/">Cancel</a>
</form>