@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro:200,300,400,600,700,900&subset=latin,latin-ext);

html {
	background: #eee;
	color: #333;
	font: 400 100%/1.5 'Source Sans Pro', 'Verdana', 'Helvetica', 'Arial', sans-serif;
}

a { color: #000; }
a:link, a:visited {
	color: #39d;
}

dt {
	font-weight: 600;
}

h1 a {
	text-decoration: none;
}

hr {
	border: 0;
	height: 2px;
	background: #ccc;
}

/* http://joshnh.com/tools/em-baseline-generator.html */
/*
html {
    font-size: 100%;
}
*/
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
    font-weight: bold;
    margin: 0;
}
h1, .alpha {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h1, .beta {
    font-size: 2.25em;
    line-height: 1.3333333333333333;
    margin-bottom: 0.6666666666666666em;
}
h2, .gamma {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h3, .delta {
    font-size: 1.3125em;
    line-height: 1.1428571428571428;
    margin-bottom: 1.1428571428571428em;
}
h4, .epsilon {
    font-size: 1.125em;
    line-height: 1.3333333333333333;
    margin-bottom: 1.3333333333333333em;
}
h5, .zeta {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
p,
blockquote {
    font-size: 1em;
    margin: 0 0 1.5em;
    line-height: 1.5;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
blockquote {
	margin: 0 1.5em 1.5em;
}
/*
dl,
ol,
ul {
    font-size: 1em;
    margin: 0 0 1.5em 1.5em;
    padding: 0;
}
dd,
dt,
li {
    line-height: 1.5;
    margin: 0;
}
*/
/* *** */

.nameplate {
	margin: 0 1em 0 0;
	display: block;
	float: left;
	font-weight: 900;
}

.nameplate a {
	color: #333;
}

.version {
	font-size: 0.8em;
	font-weight: 300;
	font-style: italic;
	color: #888;
}

.login {
	text-align: right;
	min-height: 3em;
	vertical-align: baseline;
	margin: 0;
}

.tagblock {
	text-align: center;
}

.tagline {
	font-size: 1.5em;
	margin: 0 1.5em 0;
	font-style: italic;
	color: #666;
}

.list-nav {
	padding: 0;
	margin: 0;
	color: #666;
	clear: none;
	display: inline;
	list-style: none;
}

.list-nav li {
	display: inline;
}

.list-nav li:not(:first-child):before {
	content: "| ";
}

.list-nav a {
	text-decoration: none;
}

label {
	font-weight: 600;
}

input, textarea {
	display: block;
	border: #ccc 2px solid;
	border-radius: 3px;
	padding: 0.5em;
}

.error {
	color: #c00;
}

.large-input {
	display: block;
	width: 95%;
	width: -webkit-calc(100% - 1.5em);
	width: calc(100% - 1em);
}

.container {
	padding: 1em;
}

article.container {
	background: #fff;
}

@media (min-width: 34em) {
	.container {
		width: 32em;
		margin: 0 auto;
	}
}