<!doctype html>
<html lang="en-GB">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Biki{% endblock %}</title>
	<meta name="viewport" content="initial-scale=1">
	<link rel="stylesheet" href="/static/normalize.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header class="container">
		<h1 class="nameplate"><a href="{{url_for('home')}}">
			Biki
			<span class="version">amaretti</span>
		</a></h1>
		<p class="login">
			{% if user %}
			<a href="{{url_for('profile')}}">{{user.nickname()}}</a> &mdash; <a href="{{logout_url}}">sign out</a><br>
			{% else %}
			<a href="{{login_url}}">sign in</a><br>
			{% endif %}
		</p>
	</header>

	<article class="container">
		{% block content %}{% endblock %}
	</article>
</body>
</html>