{% extends "base.html" %}
{% block content %}
{% if not user %}
<hr>
<blockquote class="tagblock">
	<p class="tagline">The University Wiki/Notification System</p>
	<p>There's no need to sign-up, just <a href="{{login_url}}">login</a> with your Google account to subscribe to a folder, or make an edit.</p>
</blockquote>
<hr>
{% endif %}
<h1>Folders</h1>
<ul>
{% for folder in folders %}
	<li><a href="{{url_for('pages', folder=folder.key.id())}}">{{folder.title}} ({{folder.key.id()}})</a>
{% endfor %}
</ul>
{% endblock %}