{% extends "base.html" %}
{% block content %}
<h1>Profile</h1>
<p>{{profile.user.nickname()}} ({{profile.user.email()}}).</p>
<form method="post">
	<h2>PushOver</h2>
	<label>User Key
		<input name="pushover_userkey" type=text{% if profile.pushover_userkey %} value="{{profile.pushover_userkey}}"{% endif %} size="40"></label>
	{#
	<label>Device
		<input name="pushover_device" type=text{% if profile.pushover_device %} value="{{profile.pushover_device}}"{% endif %}></label>
	#}
	<fieldset>
		<legend>Subscriptions</legend>
		{#
		{% for folder in folders %}
		<label><input type="checkbox" name="pushover_subscriptions" value="{{folder.key.id()}}" {% if folder.key in profile.pushover_subscriptions %}checked{% endif %}>{{folder.title}}</label>
		{% endfor %}
		#}
		<table>
			<tr>
				<th>Folder</th>
				<th>Page Created</th>
			</tr>
			{% for folder in folders %}
			<tr>
				<td>{{folder.title}}</td>
				<td><input type="checkbox" name="pushover_subscriptions" value="{{folder.key.id()}}" {% if folder.key in profile.pushover_subscriptions %}checked{% endif %}></td>
			</tr>
			{% endfor %}
		</table>
	</fieldset>
	<p><button type="submit">Save</button>
</form>
{% endblock %}